 <!--<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" >
    <mdb-carousel-item>
      <div class="view w-100 ">
  
        <img class="d-block w-100" src='https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        
      </div>
      <div class="carousel-caption">
        
        <h1 class="h1-responsive">Cours de haute qualité</h1>
        <h2 class="h2-responsive">Lire et apprendre de maniere simple</h2>
        <button class="btn btn-light btn-carousel">Nos Formation</button>
        <button class="btn btn-light btn-carousel">nous contacter</button>
      </div>
    </mdb-carousel-item>
  
   <mdb-carousel-item>
      <div class="view w-100 ">
        <img class="d-block w-100"
          src='https://images.pexels.com/photos/610294/pexels-photo-610294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
          alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">Cours de haute qualité</h1>
        <h2 class="h2-responsive">Lire et apprendre de maniere simple</h2>
        <button class="btn btn-light btn-carousel">Nos Formation</button>
        <button class="btn btn-light btn-carousel">nous contacter</button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 ">
        <img class="d-block w-100" 
          src='https://images.pexels.com/photos/4974912/pexels-photo-4974912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
          alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive">Cours de haute qualité</h1>
        <h2 class="h2-responsive">Lire et apprendre de maniere simple</h2>
        <button class="btn btn-light btn-carousel">Nos Formation</button>
        <button class="btn btn-light btn-carousel">nous contacter</button>
      </div>
    </mdb-carousel-item>
  
  </mdb-carousel>-->



  <div class="banner-wrapper">
    <section class="banner-one banner-carousel__one no-dots owl-theme owl-carousel">
        <div class="banner-one__slide banner-one__slide-one">
            <div class="container">
                <div class="banner-one__bubble-1"></div>
                <!-- /.banner-one__bubble- -->
                <div class="banner-one__bubble-2"></div>
                <!-- /.banner-one__bubble- -->
                <div class="banner-one__bubble-3"></div>
                <!-- /.banner-one__bubble- -->
                <!--<img src="assets/images/slider-1-scratch.png" alt="" class="banner-one__scratch">
                <img src="assets/images/slider-1-person-1.png" class="banner-one__person" alt="">-->
                <div class="row no-gutters">
                    <div class="col-xl-12">
                        <h3 class="banner-one__title banner-one__light-color">We Can <br> Teach You</h3>
                        <!-- /.banner-one__title -->
                        <p class="banner-one__tag-line">Are you ready to learn?</p>
                        <!-- /.banner-one__tag-line -->
                        <a href="#" class="thm-btn banner-one__btn">Learn More</a>
                    </div>
                    <!-- /.col-xl-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.banner-one__slide -->
        <!--<div class="banner-one__slide banner-one__slide-two">
            <div class="container">
                <div class="banner-one__bubble-1"></div>
                
                <div class="banner-one__bubble-2"></div>
              
                <div class="banner-one__bubble-3"></div>
               
                <img src="assets/images/slider-1-scratch.png" alt="" class="banner-one__scratch">
                <img src="assets/images/slider-1-person-2.png" class="banner-one__person" alt="">
                <div class="row no-gutters">
                    <div class="col-xl-12">
                        <h3 class="banner-one__title banner-one__light-color">We Can <br> Teach You</h3>
                       
                        <p class="banner-one__tag-line">are you ready to learn?</p>
                      
                        <a href="#" class="thm-btn banner-one__btn">Learn More</a>
                    </div>
                   
                </div>
              
            </div>
           
        </div>-->
        <!-- /.banner-one__slide -->
    </section>
    <!-- /.banner-one -->
    <!--<div class="banner-carousel-btn">
        <a href="#" class="banner-carousel-btn__left-btn"><i class="kipso-icon-left-arrow"></i></a>
        <a href="#" class="banner-carousel-btn__right-btn"><i class="kipso-icon-right-arrow"></i></a>
    </div>-->
 
    <!--<div class="banner-one__cta">
        <div class="banner-one__cta-icon">
            <i class="kipso-icon-black-graduation-cap-tool-of-university-student-for-head"></i>
           
        </div>
        
        <div class="banner-one__cta-title">
            <h3 class="banner-one__cta-text"><a href="#">Read how we encourage our
                    students to learn</a></h3>
     
        </div>
     
        <div class="banner-one__cta-link">
            <a href="#"><i class="kipso-icon-right-arrow"></i></a>
        </div>
       
    </div>-->

</div>
