<footer class="bg-dark text-gray footer-area">
    <aside class="aside container">
        <div class="row text-center">
            <nav class="col-xs-12 col-sm-6 col-md-6 col">
                <h3 style="color: #e78f08;">Master Class</h3>
                <!-- fooer navigation -->
                <address class="ft-address">
                <dl>
                    <dt><span class="fas fa-map-marker"><span class="sr-only">marker</span></span></dt>
                    <dd> <a href="https://g.page/masterclass-denden?share">Avenue de l'indépendance 3,Société Ekhouan Ben jemiaa Denden,Manouba2011</a></dd>
                    <dt><span class="fas fa-phone-square"><span class="sr-only">phone</span></span></dt>
                    <dd>Appel: <a href="tel:+21694082032">+ 216 94 082 032</a></dd>
                    <dt><span class="fas fa-envelope-square"><span class="sr-only">email</span></span></dt>
                    <dd>Email: <a href="mailto:contact@master-class.tn">contact@master-class.tn</a></dd>
                </dl>
            </address>
            </nav>
            <nav class="col-xs-12 col-sm-6 col-md-3 col">
                <h3 style="color: #e78f08;">LIENS RAPIDES</h3>
                <address class="ft-address">
                <dl>
                    <dd><a routerLink="/formations" (click)="topFunction()">Formations</a></dd>
                    <dd><a routerLink="/inscription" (click)="topFunction()">Rejoigner-nous</a></dd>
                    <dd><a routerLink="#" (click)="topFunction()">Les Entreprises</a></dd>
                    <!--<dd><a href="#">Parraine un(e) ami(e)</a></dd>-->
                </dl>
          </address>
            </nav>
            <div class="col-xs-12 col-sm-6 col-md-3 col">
                <h3 style="color: #e78f08;">NOUS CONTACTER</h3>
                <address class="ft-address">
                <dl >
                    <dd><a routerLink="/Apropos" (click)="topFunction()">A propos de nous</a></dd>
                    <dd><a routerLink="/contacter-nous" (click)="topFunction()">Contacter-nous</a></dd>
                    <dd>Master Class Plateforme</dd>
           
                </dl>
        </address>
            </div>
        </div>
    </aside>
    <div id="page-footer" class="font-loto">
        <div class="container">
            <div class="row holder">
                <div class="col-xs-12 col-sm-pull-6 col-sm-6">
                    <p>
                        <a routerLink="/accueil" (click)="topFunction()">Master Class</a> | &copy; copyrigth 2022
                    </p>
                </div>
                <div class="col-xs-12 col-sm-pull-6 col-sm-6">
                    <ul class=" socail-networks list-unstyled">
                        <li>Suivez nous</li>
                        <li>
                            <a href="https://www.facebook.com/centremasterclass">
                                <span class="fab fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Master_Class__" class="twitter-share-button" data-count="vertical" data-via="InfoWebMaster">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fmasterclass.tn%2F%3Ffbclid%3DIwAR2jy5rbkG1Zafv2ExNcnM-DAtDLzfsnhjHRqhtZ3TNIRl2Bmoca5lJjGO4&h=AT3wfY5S3TS0FXO3uao5CY8NS16hTS7COUF8xS76BUX44gKV2RMUIVR4vmhwOQqjDaFj3DDpwafE2JlnoOpE_nZPFiL_vs9wB0bXvEL_sjTZPKOxjtB03LNIq6__6c5mw70VbQ">
                                <span class="fab fa-instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fmasterclasscenter%2F%3Ffbclid%3DIwAR3R8jicDzOm1gXrBGKaNzzZTnzwcXWiXpCdRJUYymxifXIQnyQW60GtaGo&h=AT3wfY5S3TS0FXO3uao5CY8NS16hTS7COUF8xS76BUX44gKV2RMUIVR4vmhwOQqjDaFj3DDpwafE2JlnoOpE_nZPFiL_vs9wB0bXvEL_sjTZPKOxjtB03LNIq6__6c5mw70VbQ">
                                <span class="fab fa-linkedin">
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>