<!-- /.inner-banner -->
<section class="inner-banner">
    <div class="container">
        <ul class="list-unstyled thm-breadcrumb">

            <li><a routerLink="/formations">Cours</a></li>
            <li class="active"><a
                    [routerLink]=" ['/formation',formationData[0].idFormation] ">{{formationData[0].titreFormation}}</a>
            </li>
        </ul>
        <!-- /.list-unstyled -->
        <h2 class="inner-banner__title">DETAILS</h2>
        <!-- /.inner-banner__title -->
    </div>
    <!-- /.container -->
</section>


<!-- two columns -->
<div id="two-columns" class="container">
    <div class="row">
        <!-- content -->
        <article id="content" class="col-xs-12 col-md-9">
            <!-- content h1 -->
            <h1 class="content-h1 fw-semi">{{formationData[0].titreFormation}}</h1>
            <!-- view header -->
            <header class="view-header row">
                <div class="col-xs-12 col-sm-9 d-flex">
                    <div class="d-col">
                        <!-- post author -->
                        <ng-container *ngFor="let i of instructorData;index as ind">
                            <div class="post-author" *ngIf="i.idInstructor == formationData[0].idInstructor">
                                <div class="alignleft no-shrink rounded-circle">
                                    <img *ngIf="i.imageInstructor" [src]=" instructorData[ind].imageInstructor" alt=" "
                                    style="height: 35px; width: 35px;" class="rounded-circle" />
                           
                                <img *ngIf="!i.imageInstructor" src="assets/images/photoProfil.png" alt=" "
                                    style="height: 35px; width: 35px;" class="rounded-circle" />
                                </div>
                                <div class="description-wrap">
                                    <h2 class="author-heading">Instructeur</h2>
                                    <h3 class="author-heading-subtitle text-uppercase">
                                        {{instructorData[ind].nomInstructor}}</h3>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="d-col">
                        <!-- post author -->
                        <div class="post-author">
                            <div class="alignleft no-shrink icn-wrap">
                                <i class="far fa-bookmark" style="  color: #ffc000;"></i>
                            </div>
                            <div class="description-wrap">
                                <h2 class="author-heading">Catégorie</h2>
                                <h3 class="author-heading-subtitle text-uppercase">
                                    {{formationData[0].categorieFormation}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="rating-holder">
                        <ul class="star-rating list-unstyled justify-end">
                            
                            <li><ngb-rating id="star" [max]=5 [rate]="formationData[0].nbEtoiles">
                            </ngb-rating></li>
                        </ul>

                    </div>
                </div>
            </header>
            <div class="aligncenter content-aligncenter">
                <img [src]="formationData[0].image" alt="image description">
            </div>
            <h2 class="content-h3">Un Contenu Riche</h2>
            <ul class="course-details__tab-navs list-unstyled nav nav-tabs" role="tablist">
                <li>
                    <a class="active" role="tab" data-toggle="tab" href="#description" style="text-decoration: none;">Description</a>
                </li>
                <li>
                    <a class="" role="tab" data-toggle="tab" href="#contenue"style="text-decoration: none;">Programme</a>
                </li>
            </ul>
            <div class="tab-content course-details__tab-content ">
                <div class="tab-pane show active  animated fadeInUp" role="tabpanel" id="description">
                    <p class="course-details__tab-text">
                        {{formationData[0].description}}
                    </p>
                </div>
                <div class="tab-pane  animated fadeInUp" role="tabpanel" id="contenue">
                    <div *ngFor="let t of tabPartie;index as index">
                        <div style="display: flex;">
                            <p class="course-details__tab-text">
                            Partie{{index+1}}:
                            {{t}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- sidebar -->
        <aside class="col-xs-12 col-md-3" id="sidebar">
            <!-- widget course select -->
            <section class="widget widget_box widget_course_select">
                <header class="widgetHead text-center bg-theme">
                    <a routerLink="/inscription" style="text-decoration: none;">
                        <h3 class="text-uppercase" style="color: white;">S'inscrire au programme</h3>
                    </a>

                </header>
                <strong class="price element-block font-lato " data-label="price:">
                    {{formationData[0].prixFormation}}DT
                    <ng-container *ngIf="formationData[0].paiementParMois==1">
                        /Mois

                    </ng-container>
                </strong>

                <ul class="list-unstyled font-lato">
                    <li><i class="far fa-user icn no-shrink"></i> {{formationData[0].nbParticipant}}+</li>
                    <li><i class="far fa-clock icn no-shrink"></i> Durée:
                        {{formationData[0].dureeHeure}}h/{{formationData[0].dureeSemaine}}semaines</li>
                    <!--<li><i class="fas fa-bullhorn icn no-shrink"></i> Lectures: 10</li>
                    <li><i class="far fa-play-circle icn no-shrink"></i> Video: 12 hours</li>-->
                    <li><i class="far fa-address-card icn no-shrink"></i> Certificat agrée par l'état</li>
                </ul>
            </section>
            <!-- widget categories -->
            <section class="widget widget_categories">
                <h3>CATÉGORIES DE COURS</h3>
                <ul class="list-unstyled text-capitalize font-lato">
                    <li class="cat-item activecat-item-1" *ngFor="let c of categorieData" (click)="getcategorie(c.nomCategorie)">{{c.nomCategorie}}</li>
                    
                </ul>
            </section>
            <!-- widget popular posts -->
            <section class="widget widget_popular_posts">
                <h3>COURS POPULAIRES</h3>
                <!-- widget cources list -->
                <ul class="widget-cources-list list-unstyled">
                    <ng-container *ngFor="let p of formationsData ">
                        <li *ngIf="p.populaire==1">

                            <div class=" alignleft large ">
                                <img [src]="p.image " alt="image description ">
                            </div>
                            <a [routerLink]=" ['/formation',p.idFormation]" style="text-decoration: none;">
                                <div class="description-wrap ">
                                    <h4>{{p. titreFormation}} </h4>
                                    <!-- /.course-one__stars -->
                                    <div class="course-one__stars ">
                                        <span class="course-one__stars-wrap">
                                            <ngb-rating id="star" [max]=5 [rate]="p.nbEtoiles" [readonly]="true">
                                            </ngb-rating>
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <!--<strong class="price text-primary element-block font-lato text-uppercase ">
                                {{formationData[0].prixFormation}}DT
                            </strong>-->
                        </li>

                    </ng-container>
                </ul>
            </section>

        </aside>
    </div>
</div>