<!--header section-->
<header class="header">
    <a routerLink="/accueil" class="logo"> <img class="hidden-xs" src="assets/images/masterClass.jpg" alt="" height="50px" width="100px"> </a>
    <nav class="navbar">
        <ul>
            <li><a data-scroll="home" routerLink="/accueil" routerLinkActive="active" class="top" (click)="topFunction()">Accueil</a></li>
            <li><a data-scroll="cours" routerLink="/formations" routerLinkActive="active" class="top"(click)="topFunction()">Cours</a></li>
            <li><a data-scroll="blog" routerLink="/blog" routerLinkActive="active" class="top"(click)="topFunction()">Blog</a></li>
            <li><a data-scroll="" routerLink="/inscription" routerLinkActive="active" class="top"(click)="topFunction()">S'inscrire</a></li>
        </ul>
    </nav>
    <div class="header__social">
        <a href="https://www.facebook.com/centremasterclass">
            <img src="https://img.icons8.com/material-sharp/24/000000/facebook-circled--v4.png" />
        </a>
        <a href="https://twitter.com/Master_Class__" class="twitter-share-button" data-count="vertical" data-via="InfoWebMaster">
            <img src="https://img.icons8.com/ios-glyphs/24/000000/twitter--v1.png" />
        </a>
        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fmasterclass.tn%2F%3Ffbclid%3DIwAR2jy5rbkG1Zafv2ExNcnM-DAtDLzfsnhjHRqhtZ3TNIRl2Bmoca5lJjGO4&h=AT3wfY5S3TS0FXO3uao5CY8NS16hTS7COUF8xS76BUX44gKV2RMUIVR4vmhwOQqjDaFj3DDpwafE2JlnoOpE_nZPFiL_vs9wB0bXvEL_sjTZPKOxjtB03LNIq6__6c5mw70VbQ">
            <img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png" />
        </a>
        <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fmasterclasscenter%2F%3Ffbclid%3DIwAR3R8jicDzOm1gXrBGKaNzzZTnzwcXWiXpCdRJUYymxifXIQnyQW60GtaGo&h=AT3wfY5S3TS0FXO3uao5CY8NS16hTS7COUF8xS76BUX44gKV2RMUIVR4vmhwOQqjDaFj3DDpwafE2JlnoOpE_nZPFiL_vs9wB0bXvEL_sjTZPKOxjtB03LNIq6__6c5mw70VbQ">
            <img src="https://img.icons8.com/fluency-systems-regular/24/000000/linkedin.png" />
        </a>
    </div>

</header>

