a{
    text-decoration: none;
}
.inner-banner {
    background-color: #011928;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-image: url(https://images.pexels.com/photos/610293/pexels-photo-610293.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
inner-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #011928;
    opacity: 0.5;
}
.course-one__image img{
 height: 600px;
 width: 1020px;
}
.inner-banner .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 169px;
}

.inner-banner__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #fff;
    margin-top: 5px;
    margin-bottom: -17px;
}
